.App {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1em;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.show-party {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-party {
  flex: 0 0 calc(90% / 3);
  max-width: calc(90% / 3);
  margin: calc(10% / 6);
}

.list-party img {
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

